body {
  background: #c7c6c5; }

h1 {
  text-align: center; }

.buttons {
  text-align: center; }

.button {
  background-color: RGB(238, 120, 120);
  height: 40px;
  width: auto;
  text-align: center; }
  .button:hover {
    background-color: #f39c9c;
    cursor: grab; }

.button-grid {
  background-color: RGB(238, 120, 120);
  height: 40px;
  width: auto;
  text-align: center; }
  .button-grid:hover {
    background-color: #f39c9c;
    cursor: grab; }

.drop-content {
  display: block;
  background: RGB(238, 120, 120);
  padding: 10px 36px;
  margin-top: 2px; }

.square-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px; }

#wrapper {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  display: grid; }

.row {
  width: auto; }

.square {
  width: 50px;
  height: 50px;
  margin: 0px;
  outline: 1px solid;
  display: inline-block;
  float: left;
  background: #c7c6c5; }
