$main-peach:  RGB(238, 120, 120);
$background-grey: #c7c6c5;

body {
    background: $background-grey;
   
}

h1 {
    text-align: center;
}

.buttons {
    text-align: center;
}

.button {
    background-color: $main-peach;
    height: 40px;
    width: auto;
    text-align: center;

    &:hover {
        background-color: lighten(#ee7878, 8%);
        cursor: grab;
    }
}

.button-grid {
    background-color: $main-peach;
    height: 40px;
    width: auto;
    text-align: center;

    &:hover {
        background-color: lighten(#ee7878, 8%);
        cursor: grab;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.drop-content {
    z-index: 1;
    display: none;
    position: absolute;
}

.drop-content p {
    display: block;
    background: $main-peach;
    padding: 10px 36px;
    margin-top: 2px;
    font-size: 12px;
}

dropdown:hover .drop-content {
    display: block;
}


.square-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  }

//   .square {
//     border: 0.5px solid rgba(0, 0, 0, 0.8);
//   }


//jquery css
  #wrapper {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    display: grid;
}

.row {
    width: auto;
}

.square {
    width: 50px;
    height: 50px;

    margin: 0px;

    outline: 1px solid;
    display: inline-block;
    float: left;
    background: $background-grey;
}

  

table {
    width: 80%;
    border-collapse: collapse;
}

.cell {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 15px;
}